<div class="row">
  <form action="/characters" method="post" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" name="name">
        <label for="name">character name</label>
      </div>
      <div class="form-group">
        <label for="type">character type</label>
        <select class="form-control" name="type">
          <option>glaive</option>
          <option>jack</option>
          <option>nano</option>
        </select>
      </div>
      <div class="input-field">
        <input type="text" name="focus">
        <label for="focus">character focus</label>
      </div>
      <div class="input-field">
        <input type="text" name="descriptor">
        <label for="descriptor">character descriptor</label>
      </div>
      <div class="input-field">
        <input type="number" name="mightPool">
        <label for="mightPool">might pool</label>
      </div>
      <div class="input-field">
        <input type="number" name="mightEdge">
        <label for="mightEdge">might edge</label>
      </div>
      <div class="input-field">
        <input type="number" name="speedPool">
        <label for="speedPool">speed pool</label>
      </div>
      <div class="input-field">
        <input type="number" name="speedEdge">
        <label for="speedEdge">speed edge</label>
      </div>
      <div class="input-field">
        <input type="number" name="intellectPool">
        <label for="intellectPool">intellect pool</label>
      </div>
      <div class="input-field">
        <input type="number" name="intellectEdge">
        <label for="intellectEdge">intellect edge</label>
      </div>
    </div>
    <input type="submit" value="Save" class="btn">
  </form>
</div>
